@import '../../styles/utils.scss';

.todo-item{
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    .tick{
        margin-right: 1rem;
    }
    .text{
        flex:1;
        word-break: break-all;
        &.done{
            text-decoration: line-through;
        }
    }

    .delete{
        margin-left: 1rem;
        color: $oc-red-7;
        font-size: 0.8rem;
        &:hover{
            color: $oc-red-5;
            text-decoration: underline;
        }
    }

    &:nth-child(odd){
        // 홀수번째 요소에는 회색배경
        background: $oc-gray-0;
    }
    &:hover{
        background: $oc-gray-1;
    }
}

.todo-item + .todo-item{
    //컴포넌트 사이에 위쪽 테두리 설정.
    border-top: 1px solid $oc-gray-1;
}